<p id="notice"><%= notice %></p>

<h1> <%= @book.title%> </h1>
<%= image_tag @book.picture, class: "card-img-top" if @book.picture.attached? %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
